{{ define "main" }}

<main>
    
    {{ $lang := .Site.Language.Lang }}

    {{ $landingPages := slice }}
    {{ range .Site.Pages }}
        {{ if eq .Kind "page" }}
            {{ if .Params.islanding }}
                {{ $landingPages = $landingPages | append . }}
            {{ end }}
        {{ else if eq .Kind "section" }}
            {{ $indexPage := index .Pages "index" }}
            {{ if $indexPage }}
                {{ if .Params.islanding }}
                    {{ $landingPages = $landingPages | append $indexPage }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ $sortedPages := sort $landingPages ".Weight" "desc" }}
    {{ range $index, $page := $sortedPages }}
        {{ $odd := eq (mod $index 2) 1 }}
        {{ $position := cond (eq (mod (div $index 2) 2) 1) "odd-left" "odd-right" }}

        <section class="container-fluid pb-5 pt-5{{ if $odd }} odd {{ $position }}{{ end }}">

            <div class="container">

                <h1>{{ .Title }}</h1>
                <p>{{ .Content }}</p>
            </div>
        </section>
    {{ end }}

</main>

{{ end }}

